Package: makecommand
Version: 1.2-1BETA
Depends: lolcat
Architecture: all
Maintainer: Aliraq1 (aliraq1.xyz)
Description: Advanced CLI tool to save, manage, and run complex commands with sudo support made with AI by Aliraq1.
